<h1>Teacher Recommendations</h1>
<div class="row">
	<div class="span10 offset1">
		<%= simple_form_for @teacher_recommendation do |f| -%>
		<div class="form-horizontal">
			<h3>
				Applicant: 
				<%= @teacher_recommendation.applicant.first_name %>
				<%= @teacher_recommendation.applicant.last_name %>
			</h3>
			<h3>
				Subject Area:
        <% if @teacher_recommendation.is_english? %>
          Additional Subject
        <% else %>
  				<%= @teacher_recommendation.subject %>
        <% end %> 
			</h3><hr />		
				<h2>
					All information submitted on this recommendation will be confidential and viewed 
					only by authorized school personnel.
				</h2>
				<hr />
				<h3>
					Please rate the candidate in the following categories by checking the appropriate 
					number based on the following rating scale.
				</h3>
        <p class="text-center"><strong>
        1 = Poor &#124; 2 = Needs improvement &#124; 3 = Average &#124; 4 = Above average &#124; 5 = Excellent
      </strong></p>
				<%= render 'shared/error_messages', object: f.object %>
				<%= 
					f.input :desire, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.desire}, 
					:label => "Is eager to learn new information in math, science, and technology"
				%>
				<%= 
					f.input :aptitude, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.aptitude},
				 	:label => "Shows aptitude in math, science, technology"
				%>
				<%= 
					f.input :persistence, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.persistence}, 
					:label => "Shows persistence and resiliency when faced with challenges"
				%>
				<%= 
					f.input :self_discipline, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.self_discipline}, 
					:label => "Sets high expectations for themselves with minimal adult guidance and works towards those expectations"
				%>
				<%= 
					f.input :interaction, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.interaction},
					:label => "Collaborates easily with other students and teachers in order to further their academic success"
				%>
				<%= 
					f.input :problem_solving, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.problem_solving},
					:label => "Is an innovative thinker and is able to critically analyze problems that are put before them"
				%>
				<%= 
					f.input :inquiry_skills, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.inquiry_skills},
					:label => "Asks questions that deepen their understanding of taught content"
				%>
				<%= 
					f.input :study_skills, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.study_skills},
					:label => "Demonstrates study skills and work habits necessary for academic success"
				%>
				<%= 
					f.input :time_management, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.time_management},
					:label => "Possesses time management skills that allow them to consistently meet deadlines"
				%>
        <!-- remove teamwork
				<%= 
					f.input :teamwork, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.teamwork},
					:label => "Demonstrates effective teamwork skills"
				%>
        -->
				<%= 
					f.input :dedication, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
				 	:input_html => {:value => @teacher_recommendation.dedication}
					:label => "Able to identify their academic strengths and weaknesses, and shows a willingness to accept feedback for personal growth"
				%>
        <!-- remove work_ethic
				<%= 
					f.input :work_ethic, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,	
				 	:input_html => {:value => @teacher_recommendation.work_ethic},
					:label => "Has exceptional work ethic"
				%>
        -->
		</div>
		<hr />
		<div class="span6">
				<%= f.submit "Submit Recommendation", class: "btn btn-large btn-primary" %>
			<% end %>
			<br /><br />
		</div>
	</div>
</div>
