<h1>Teacher Recommendations</h1>
<div class="row">
	<div class="span10 offset1">
		<div class="form-horizontal">
			<%= simple_form_for @teacher_recommendation do |f| -%>
				<%= f.association :applicant %>
				<p class="text-center">
					**This form is secure and the results will only be viewed by authorized district personnel.**
				</p>
				<h3>Please rate the candidate in the following categories by checking the appropriate number based on the following rating scale.</h3>
				<p>
					1 = Poor
					2 = Needs improvement
					3 = Average
					4 = Above average
					5 = Excellent
				</p>
				<%= render 'shared/error_messages', object: f.object %>
				<%= 
					f.input :desire, :collection => ["1","2","3","4","5"], :as => :radio_buttons, :item_wrapper_class => :inline, 
					:label => "Is eager to learn new information in math, science, and technology"
				%>
				<%= 
					f.input :aptitude, :collection => ["1","2","3","4","5"], :as => :radio_buttons, :item_wrapper_class => :inline,
				 	:label => "Shows aptitude in math, science, technology"
				%>
				<%= 
					f.input :persistence, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Shows persistence and resiliency when faced with challenges"
				%>
				<%= 
					f.input :self_discipline, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline, 
					:label => "Sets high expectations for themselves with minimal adult guidance and works towards those expectations"
				%>
				<%= 
					f.input :interaction, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Collaborates easily with other students and teachers in order to further their academic success"
				%>
				<%= 
					f.input :problem_solving, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Is an innovative thinker and is able to critically analyze problems that are put before them"
				%>
				<%= 
					f.input :inquiry_skills, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Asks questions that deepen their understanding of taught content"
				%>
				<%= 
					f.input :study_skills, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Demonstrates study skills and work habits necessary for academic success"
				%>
				<%= 
					f.input :time_management, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Possesses time management skills that allow them to consistently meet deadlines"
				%>
        <!-- remove teamwork 
				<%= 
					f.input :teamwork, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Demonstrates effective teamwork skills"
				%>
        -->
				<%= 
					f.input :dedication, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,
					:label => "Able to identify their academic strengths and weaknesses, and shows a willingness to accept feedback for personal growth"
				%>
        <!-- remove work_ethic
				<%= 
					f.input :work_ethic, :collection => ["1","2","3","4","5"], :as => :radio_buttons, 
					:item_wrapper_class => :inline,	
					:label => "Has exceptional work ethic"
				%>
        -->
				<hr />
				<%= f.input :subject, :label => "Subject Area" %>
				<%= f.input :date_submitted, :label => "Date Submitted", :input_html => {:value => :date} %>
				<hr />
				<%= f.submit "Submit Recommendation", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
