<%= simple_form_for @applicant do |f| -%>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="span6 offset1 text-center"><%= f.association :school, :label => "Select your school" %></div>
	</div>
	<div class="row">
		<div class="span3"><%= f.input :first_name, :label => "First Name"  %></div>
		<div class="span2"><%= f.input :middle_name, :label => "Middle Name"  %></div>
		<div class="span3"><%= f.input :last_name, :label => "Last Name" %></div>
	</div>
	<div class="row">
		<div class="span4">
			<%= f.input :gender, :collection => ["Male", "Female"], :as => :radio_buttons, :item_wrapper_class => :inline %>
		</div>
		<div class="span4">
			<%= f.input :grade, :collection => ["11", "12"], :as => :radio_buttons, :item_wrapper_class => :inline %>
		</div>
	</div>
	<br /><br /><br />
	<div class="row">
		<div class="span3"><%= f.input :parent_first_name, :label => "Parent/Guardian First Name" %></div>
		<div class="span3"><%= f.input :parent_last_name, :label => "Parent/Guardian Last Name" %></div>
	</div>
	<div class="row">
		<div class="span6"><%= f.input :address, :label => "Parent Street Address" %></div>
	</div>
	<div class="row">
		<div class="span3"><%= f.input :city %></div>
		<div class="span1"><%= f.input :state, :input_html => {:maxlength => 2, :value => "VA"} %></div>
		<div class="span2"><%= f.input :zip, :label => "5 Digit Zip Code", :input_html => {:maxlength => 5} %></div>
	</div>
	<br /><br /><br />
	<div class="row">
		<div class="span4">
			<%= f.input :home_phone, :label => "Parent Home Phone", :placeholder => "555-555-1212" %>
			<!--[if IE 9]>
			<p class="gray">Ex: 555-555-1212</p>
			<![endif]-->
		</div>
		<div class="span4">
			<%= f.input :work_phone, :label => "Parent Work Phone", :placeholder => "555-555-1212" %>
			<!--[if IE 9]>
			<p class="gray">Ex: 555-555-1212</p>
			<![endif]-->
		</div>
	</div>
	<div class="row">
		<div class="span4"><%= f.input :email, :label => "Parent Email" %></div>
		<div class="span4"><%= f.input :applicant_email, :label => "Student Email" %></div>
	</div>
	<hr />
	<div class="row">
		<div class="span8"><strong>Names of Teachers Completing Recommendations:</strong></div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :math_teacher, :label => "Math:", :input_html => {:value => @applicant.math_teacher} %>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :science_teacher, :label => "Science:", :input_html => {:value => @applicant.science_teacher} %>
		</div>
	</div>	
	<div class="row">
		<div class="span8">
			<%= f.input :english_teacher, :label => "English:", :input_html => {:value => @applicant.english_teacher} %>
		</div>
	</div>	
	<div class="row">
		<div class="span8">
			<%= f.input :teacher_contacted, :as => :boolean, :inline_label => "I verify that I have contacted 
						the above teachers concerning these recommendations.", :label => false %>
		</div>
	</div>	
	<hr />
	<div class="row">
		<div class="span8">
			<p class="confirm">
		  	  <%= f.input :applicant_confirmation, :as => :boolean, :label => false, :inline_label => "The decision to apply to the Piedmont Governor's School for Mathematics, Science, and Technology is my own, and I want to participate fully in this program. I have read in its entirety the application procedures, including the application forms, and am aware of the appeals process of my school division." %>
			</p>
		</div>
	</div>	
	<div class="row">
		<div class="span8">
			<p>
		 	   <%= f.input :parent_confirmation, :as => :boolean, :label => false, :inline_label => "I, the parent/guardian of the above named student, am aware of and am in full support of the student's application to the Piedmont Governor's School for Mathematics, Science, and Technology and give my permission for the student's academic records to be reviewed by the division's Selection Committee. I have read in its entirety the application procedures, including the application forms, and am aware of the appeals process of my school division." %>
			</p>
		</div>
	</div>	
	<div class="row">
		<div class="span8 text-center">
			<%= f.submit "Submit my information", class: "btn btn-large" %> 
		</div>
	</div>	
	<div class="row">
		<div class="span8 text-center">
			<h4 class="red">This may take a moment.<br />Please only press submit once.</h4>
		</div>
	</div>	
<% end %>
