<%= provide(:title, @applicant.last_name) %>
<div class="row">
  <div class="span6 offset3">
	<p>Name: <%= @applicant.first_name %> <%= @applicant.middle_name %> <%= @applicant.last_name %></p>
	<p>High School: <%= @applicant.school %> &nbsp; Grade Level: <%= @applicant.grade %></p>
	<p>Parent Name: <%= @applicant.parent_last_name %>, <%= @applicant.parent_first_name %></p>
	<p>Home Address: <%= @applicant.address %></p>
	<p>Home Phone: <%= number_to_phone(@applicant.home_phone, :area_code => true) %> &nbsp; 
		Work Phone: <%= number_to_phone(@applicant.work_phone, :area_code => true) %></p>
	<p>Email: <%= @applicant.email %></p>
	<hr />
	<p>
		Names of Teachers Completing Recommendations:
		<ul>
			<li><%= @applicant.math_teacher %></li>
			<li><%= @applicant.science_teacher %></li>
			<li><%= @applicant.english_teacher %></li>
		</ul>
	</p>
  </div>
<div class="span6 offset3">
	<%= simple_form_for @applicant do |f| -%>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.input :school, :input_html => {:value => @applicant.school}%>
		<%= f.input :school_phone, :label => "School Phone" %>
		<%= f.input :counselor_name, :label => "Name of Guidance Counselor Designee" %>
		<p>
			Please attach an official copy of the student's transcript with the GPA 
		   calculated as unweighted and an official copy of most recent standardized 
		   test data.
		</p>
		<%= f.input :due_to, :label => "Information due to" %>
		<%= f.input :date_due, :as => :string, :label => "Date Due" %>
		<%= f.submit "Submit school information", class: "btn btn-large" %>
	<% end %>
</div>
</div>