<%= provide(:title, @applicant.last_name) %>
<div class="row">
  <div class="span6 offset3">
	<% flash[:success] = "Message was successfully sent." %>
	<p><%= @school_email %></p>
	<p>Applicant Submitted Section</p>
	<p><%= @applicant.first_name %> <%= @applicant.middle_name %> <%= @applicant.last_name %></p>
	<p>High School: <%= @applicant.school %> &nbsp; Grade Level: <%= @applicant.grade %></p>
	<p>Parent Name: <%= @applicant.parent_first_name %> <%= @applicant.parent_last_name %></p>
	<p>Home Address: <%= @applicant.address %></p>
	<p>Home Phone: <%= number_to_phone(@applicant.home_phone, :area_code => true) %> &nbsp; 
		Work Phone: <%= number_to_phone(@applicant.work_phone, :area_code => true) %></p>
	<p>Email: <%= @applicant.email %></p>
	<hr />
	<p>
		Names of Teachers Completing Recommendations:
		<ul>
			<li><%= @applicant.math_teacher %></li>
			<li><%= @applicant.science_teacher %></li>
			<li><%= @applicant.english_teacher %></li>
		</ul>
	</p>
	<hr />
  </div>
<!--
  <divclass="span6 offset3">
	<p>Guidance Submitted Section</p>
	<p>High School: <%= @applicant.school %> &nbsp; School Phone: <%= number_to_phone(@applicant.school_phone, :area_code => true) %>
	<p>Guidance Counselor <%= @applicant.counselor_name %></p>
	<p>Information Due To <%= @applicant.due_to %> &nbsp; Due Date: <%= @applicant.date_due %></p>
  </div>
-->
</div>