<div class="row">
	<div class="span10 offset1">
		<% if @teacher_recommendation.created? %>
			<h1>
				Recommendation not yet complete<br />
				<%= link_to "Return to Applicant Page", 
					coordinator_applicant_path(@teacher_recommendation.applicant.id) %><br />
          <!--
				<%= button_to "Send Reminder", 
					edit_coordinator_teacher_recommendation_path(@teacher_recommendation),
				 	:method => :post, class: "btn btn-medium" %>
          -->
				</h1>
				<p>
					If the teacher is not receiving the invitation emails, you can copy and paste the direct link below to them. <br />
					Click the button below the link to automatically copy it to your clipboard. <br />
					<input type="text" id="clipMe" value="<%= edit_teacher_recommendation_url(@teacher_recommendation) %>" />
          <button id="clipButton">Copy Link</button><span id="copyMsg" style="visibility:hidden;">&nbsp;Link copied!</span>
				</p>
		<% end %>
		<h3 class="recommend">Faculty Recommendation for 
			<%= @teacher_recommendation.applicant.first_name %> 
			<%= @teacher_recommendation.applicant.last_name %>.
		</h3>
		<h4 class = "offset3-5">
			Grade Level: <%= @teacher_recommendation.applicant.grade %><br />
			Gender: <%= @teacher_recommendation.applicant.gender %><br />
      Subject Area: 
      <% if @teacher_recommendation.is_english? %>
        Additional Subject<br />
      <% else %>
        <%= @teacher_recommendation.subject %><br />
      <% end %>
			Completed by: <%= @teacher_recommendation.teacher_name %>
		</h4>
		<hr />
		<h3 class="recommend">Student Ratings</h3>
		<h4 class="recommend">Candidates were rated based on the following scale:</h4>
		<p class="offset3-5">
			1 = Poor<br />
			2 = Needs improvement<br />
			3 = Average<br />
			4 = Above average<br />
			5 = Excellent
		</p>
		The student:	
		<table class="table table-bordered">
			<tr>
				<td>
					1. Is eager to learn new information in math, science, and technology:
				</td>
				<td class="score">
					<%= @teacher_recommendation.desire %>
				</td>
			</tr>
			<tr>
				<td>
					2. Shows aptitude in math, science, technology:
				</td>
				<td class="score">
					<%= @teacher_recommendation.aptitude %>
				</td>
			</tr>
			<tr>
				<td>
					3. Shows persistence and resiliency when faced with challenges:
				</td>
				<td class="score">
					<%= @teacher_recommendation.persistence %>	
				</td>
			</tr>
			<tr>
				<td>
					4. Sets high expectations for themselves with minimal adult guidance and works towards those expectations:
				</td>
				<td class="score">
					<%= @teacher_recommendation.self_discipline %>
				</td>
			</tr>
			<tr>
				<td>
					5. Collaborates easily with other students and teachers in order to further their academic success:
				</td>
				<td class="score">
					<%= @teacher_recommendation.interaction %>
				</td>
			</tr>
			<tr>
				<td>
					6. Is an innovative thinker and is able to critically analyze problems that are put before them:
				</td>
				<td class="score">
					<%= @teacher_recommendation.problem_solving %>
				</td>
			</tr>
			<tr>
				<td>
					7. Asks questions that deepen their understanding of taught content:
				</td>
				<td class="score">
					<%= @teacher_recommendation.inquiry_skills %>
				</td>
			</tr>
			<tr>
				<td>
					8. Demonstrates study skills and work habits necessary for academic success:
				</td>
				<td class="score">
					<%= @teacher_recommendation.study_skills %>
				</td>
			</tr>
			<tr>
				<td>
					9. Possesses time management skills that allow them to consistently meet deadlines:
				</td>
				<td class="score">
					<%= @teacher_recommendation.time_management %>
				</td>
			</tr>
      <!-- remove teamwork
			<tr>
				<td>
					10. Demonstrates effective teamwork skills: 
				</td>
				<td class="score">
					<%= @teacher_recommendation.teamwork %>
				</td>
			</tr>
      -->
			<tr>
				<td>
					10. Able to identify their academic strengths and weaknesses, and shows a willingness to accept feedback for personal growth:
				</td>
				<td class="score">
					<%= @teacher_recommendation.dedication %>
				</td>
			</tr>
      <!-- work_ethic
			<tr>
				<td>
					11. Has exceptional work ethic:
				</td>
				<td class="score">
					<%= @teacher_recommendation.work_ethic %>
				</td>
			</tr>
      -->
		</table>	
		<table class="table table-bordered">
			<tr>
				<td class="description">
					Total Score:
				</td>
				<td class="score">
					<%= @teacher_recommendation.total_score %>
				</td>
			</tr>
		</table>
	</div>
</div>
