<div class="row">
	<div class="span12">
		<% if @teacher_recommendation.complete? %>
		<h1>Recommendation not yet complete<br />
		<%= link_to "Return to Applicant Page", coordinator_applicant_path(@teacher_recommendation.applicant.id) %></h1>
		<% end %>
		<h3>Faculty Recommendation for 
			<%= @teacher_recommendation.applicant.first_name %> 
			<%= @teacher_recommendation.applicant.last_name %>.
		</h3>
		<h4>
			Subject Area: <%= @teacher_recommendation.subject %>
		</h4>
		<h4>
			Submitted by: <%= @teacher_recommendation.teacher_name %>
		</h4>
		<hr />
		<h3>Student Ratings</h3>
		<h4>Candidates were rated based on the following scale:</h4>
		<p>
			1 = Not observed
			2 = Needs improvement
			3 = Average
			4 = Above average
			5 = Excellent
		</p>	
		<p>
			Shows desire and curiosity for learning:
			<%= @teacher_recommendation.desire %><br />
			Has aptitude and potential for study in math, science, technology and communications: 
			<%= @teacher_recommendation.aptitude %><br />
			Shows persistence when faced with challenges: 
			<%= @teacher_recommendation.persistence %><br />
			Is self-disciplined in establishing and reaching goals: 
			<%= @teacher_recommendation.self_discipline %><br />
			Interacts well with other students and teachers: 
			<%= @teacher_recommendation.interaction %><br />
			Has developed problem-solving skills/critical thinking skills: 
			<%= @teacher_recommendation.problem_solving %><br />
			Demonstrates skill in asking inquiry-type questions: 
			<%= @teacher_recommendation.inquiry_skills %><br />
			Demonstrates outstanding study skills and work habits: 
			<%= @teacher_recommendation.study_skills %><br />
			Possesses excellent time management skills: 
			<%= @teacher_recommendation.time_management %><br />
			Demonstrates effective teamwork skills: 
			<%= @teacher_recommendation.teamwork %><br />
			Shows strong dedication: 
			<%= @teacher_recommendation.dedication %><br />
			Has exceptional work ethic: 
			<%= @teacher_recommendation.work_ethic %><br /><br />
		</p>	
		<h4>Teacher's general recommendation - based on the following scale:</h4>
		<p>
			0 = Do not recommend
			1 = Recommend with reservations
			3 = Recommend
			5 = Highly Recommend
		</p>
		<h4>Recommendation Score: <%= @teacher_recommendation.recommendation %></h4>
		<hr />
		<h3>Total Score: <%= @teacher_recommendation.total_score %></h3>
	</div>
</div>