<div class="row">
	<div class="span12">
		<% if @teacher_recommendation.complete? %>
			<h1>Recommendation not yet complete<br />
			<%= link_to "Return to Applicant Page", 
				coordinator_applicant_path(@teacher_recommendation.applicant.id) %></h1>
		<% end %>
		<h3>Faculty Recommendation for 
			<%= @teacher_recommendation.applicant.first_name %> 
			<%= @teacher_recommendation.applicant.last_name %>.
		</h3>
		<h4>
			Subject Area: <%= @teacher_recommendation.subject %>
		</h4>
		<h4>
			Submitted by: <%= @teacher_recommendation.teacher_name %>
		</h4>
		<hr />
		<h3>Student Ratings</h3>
		<h4>Candidates were rated based on the following scale:</h4>
		<p>
			1 = Not observed
			2 = Needs improvement
			3 = Average
			4 = Above average
			5 = Excellent
		</p>	
		<table class="table">
			<tr>
				<td>
					Shows desire and curiosity for learning:
				</td>
				<td>
					<%= @teacher_recommendation.desire %>
				</td>
			</tr>
			<tr>
				<td>
					Has aptitude and potential for study in math, science, technology and communications: 
				</td>
				<td>
					<%= @teacher_recommendation.aptitude %><br />
				</td>
			</tr>
			<tr>
				<td>
			Shows persistence when faced with challenges: 		
				</td>
				<td>
			<%= @teacher_recommendation.persistence %><br />		
				</td>
			</tr>
			<tr>
				<td>
					Is self-disciplined in establishing and reaching goals: 
				</td>
				<td>
					<%= @teacher_recommendation.self_discipline %><br />
				</td>
			</tr>
			<tr>
				<td>
					Interacts well with other students and teachers: 
				</td>
				<td>
					<%= @teacher_recommendation.interaction %><br />
				</td>
			</tr>
			<tr>
				<td>
					Has developed problem-solving skills/critical thinking skills: 
				</td>
				<td>
					<%= @teacher_recommendation.problem_solving %><br />
				</td>
			</tr>
			<tr>
				<td>
					Demonstrates skill in asking inquiry-type questions: 
				</td>
				<td>
					<%= @teacher_recommendation.inquiry_skills %><br />
				</td>
			</tr>
			<tr>
				<td>
					Demonstrates outstanding study skills and work habits: 
				</td>
				<td>
					<%= @teacher_recommendation.study_skills %><br />
				</td>
			</tr>
			<tr>
				<td>
					Possesses excellent time management skills: 
				</td>
				<td>
					<%= @teacher_recommendation.time_management %><br />
				</td>
			</tr>
			<tr>
				<td>
					Demonstrates effective teamwork skills: 
				</td>
				<td>
					<%= @teacher_recommendation.teamwork %><br />
				</td>
			</tr>
			<tr>
				<td>
					Shows strong dedication: 
				</td>
				<td>
					<%= @teacher_recommendation.dedication %><br />
				</td>
			</tr>
			<tr>
				<td>
					Has exceptional work ethic: 
				</td>
				<td>
					<%= @teacher_recommendation.work_ethic %><br /><br />
				</td>
			</tr>
		</table>	
		<h4>Teacher's general recommendation - based on the following scale:</h4>
		<p>
			0 = Do not recommend
			1 = Recommend with reservations
			3 = Recommend
			5 = Highly Recommend
		</p>
		<table class="table">
			<tr>
				<td>
					<h4>Recommendation Score: </h4>
				</td>
				<td>
					<h4><%= @teacher_recommendation.recommendation %></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h3>Total Score: </h3>
				</td>
				<td>
					<h3><%= @teacher_recommendation.total_score %></h3>
				</td>
			</tr>
		</table>
	</div>
</div>