<%= paginate @applicants %>

<table id="applicants" class="table table-hover eighty-five-width">
	<thead>
	<tr>
		<th class="eight-width">ID</th>
		<th><%= sortable "last_name", "Name" %></th>
		<th><%= sortable "name", "School" %></th>
		<th class="ten-width">Counselor<br />Portion</th>
		<th class="ten-width">Completed<br />Recommendations</th>
	</tr>
	</thead>
	<tbody>
	<% if @applicants.present? %>
		<% @applicants.each do |applicant| %>
			<tr class="evenrow">
				<% if applicant.counselor_portion_complete? %>
					<td><%= applicant.id %></td>
					<td><%= link_to applicant, coordinator_applicant_path(applicant) %></td>
					<td><%= applicant.school.name %></td>
					<td class="text-center"><%= image_tag("check.png") %></td>
					<td class="text-center"><%= applicant.count_recommendations %></td>
				<% else %>
					<td><%= applicant.id %></td>
					<td><%= link_to applicant, edit_coordinator_applicant_path(applicant) %></td>
					<td><%= applicant.school.name %></td>
					<td class="text-center"><%= image_tag("x.png") %></td>
					<td class="text-center"><%= applicant.count_recommendations %></td>
				<% end %>		
			</tr>
		<% end %>
	<% else %>
		<h2>
			There are currently no applicants.<br />
			You will be notified by email when the first application is submitted.
		</h2>
	<% end %>
	</tbody>
</table>

<% if current_user.is_admin? %>
	<div class="row">
		<div class="span4 offset4 move-down30">
				<%= button_to "Archive All Current Students", {:controller => "archives", :action => "create"}, {class: "btn"} %>
		</div>
	</div>
<% end %>