<tr class="evenrow">
	<% if applicant.gpa.present? %>
		<td><%= applicant.id %></td>
		<td><%= link_to applicant, coordinator_applicant_path(applicant) %></td>
		<td><%= applicant.school.name %></td>
		<td class="text-center"><%= image_tag("check.png") %></td>
		<td class="text-center"><%= applicant.count_recommendations %></td>
	<% else %>
		<td><%= applicant.id %></td>
		<td><%= link_to applicant, edit_coordinator_applicant_path(applicant) %></td>
		<td><%= applicant.school.name %></td>
		<td class="text-center"><%= image_tag("x.png") %></td>
		<td class="text-center"><%= applicant.count_recommendations %></td>
	<% end %>		
</tr>
