<%= provide(:title, @applicant.last_name) %>
<div class="row">
  <div class="span8 offset2">
	<%= simple_form_for @applicant, :url => coordinator_applicant_path do |f| -%>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="row">
			<div class="span8"><h3>ID: <%= @applicant.id %></h3></div>
		</div>
		<div class="row">
			<div class="span3">
				<%= f.input :first_name, :label => "First Name", :input_html => {:value => @applicant.first_name} %>
			</div>
			<div class="span2">
				<%= f.input :middle_name, :label => "Middle Name", :input_html => {:value => @applicant.middle_name}  %>
			</div>
			<div class="span3">
				<%= f.input :last_name, :label => "Last Name", :input_html => {:value => @applicant.last_name} %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= f.input :gender, :collection => ["Male", "Female"], :as => :radio_buttons, :input_html => {:value => @applicant.gender}, :item_wrapper_class => :inline %>
			</div>
			<div class="span4">
				<%= f.input :grade,:collection => ["11", "12"], :as => :radio_buttons, :label => "Grade", :input_html => {:value => @applicant.grade}, :item_wrapper_class => :inline%>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= f.input :parent_first_name, :label => "Parent/Guardian First Name", :input_html => {:value => @applicant.parent_first_name} %> 
			</div>
			<div class="span4">
				<%= f.input :parent_last_name, :label => "Parent/Guardian Last Name", :input_html => {:value => @applicant.parent_last_name} %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<%= f.input :address, :label => "Street Address", :input_html => {:value => @applicant.address} %>
			</div>
		</div>
		<div class="row">
			<div class="span5">
				<%= f.input :city, :label => "City", :input_html => {:value => @applicant.city} %>
			</div>
			<div class="span1">
				<%= f.input :state, :label => "State", :input_html => {:value => @applicant.state, :maxlength => 2} %>
			</div>
			<div class="span2">
				<%= f.input :zip, :label => "5 Digit Zip", :input_html => {:value => @applicant.zip, :maxlength => 5} %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= f.input :home_phone, :label => "Home Phone", :input_html => {:value => @applicant.home_phone} %>
			</div>
			<div class="span4">
				<%= f.input :work_phone, :label => "Work Phone", :input_html => {:value => @applicant.work_phone} %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= f.input :email, :label => "Parent Email", :input_html => {:value => @applicant.email} %>
			</div>
			<div class="span4">
				<%= f.input :applicant_email, :label => "Student Email", :input_html => {:value => @applicant.applicant_email} %>
			</div>
		</div>	
	<hr />
	<div class="row">
		<div class="span8">
			<strong>Names of Teachers Completing Recommendations:</strong>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :math_teacher, :label => "Math Teacher:", :input_html => {:value => @applicant.math_teacher} %>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :science_teacher, :label => "Science Teacher:", :input_html => {:value => @applicant.science_teacher} %>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :english_teacher, :label => "Additional Teacher:", :input_html => {:value => @applicant.english_teacher} %>
		</div>
	</div>
	<hr />
	<div class="row">
			<div class="span8"><h3>Counselor Portion:</h3></div>
	</div>
	<div class="row">
		<div class="span8">
			<h3 class="muted">School: <%= @applicant.school.name %></h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= f.input :school_phone, :label => "School Phone", :placeholder => "555-555-1212" %>
		</div>
		<div class="span4">
			<%= f.input :counselor_name, :label => "Name of Guidance Counselor Designee" %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= f.input :gpa, :label => "Unweighted GPA", :input_html => {:type => :text, :pattern => "[0-9]*", 
						:maxlength => 4, :value => @applicant.gpa} %>
		</div>
		<div class="span6">
			<h4 class="left"><i class="fa fa-exclamation-circle"></i> Please remember to include an official copy of the student's transcript and an official copy of most recent standardized test data with the final printed copy of the application.</h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= f.input :due_to, :label => "Information due to" %>
		</div>
		<div class="span4">
			<%= f.input :date_due, :as => :string, :label => "Date Due"%>
		</div>
	</div>
	<div class="row">
		<div class="span8 text-center">
			<%= f.submit "Submit school information", class: "btn btn-large" %>
		</div>
	</div>
	<% end %>
	<br /><br /><br />
</div>
</div>
