<%= provide(:title, @applicant.last_name) %>
<div class="row">
  <div class="span6 offset3"> 
	<p>
		Please enter the email addresses for the teachers that will submit Faculty Recommendations for <%= @applicant.first_name %> <%= @applicant.last_name %>.
	</p>
    <%= simple_form_for @applicant, :url =>create_invitations_coordinator_applicant_path(@applicant.id) do |f| -%>
		<%= f.input :science_teacher, :input_html => {:value => @applicant.science_teacher} %>
		<%= f.input :science_teacher_email, :label => "Science Teacher Email", :input_html => {:value => @applicant.science_teacher_email} %>
		<%= f.input :math_teacher, :input_html => {:value => @applicant.math_teacher} %>
		<%= f.input :math_teacher_email, :label => "Math Teacher Email", :input_html => {:value => @applicant.math_teacher_email} %>
		<%= f.input :english_teacher, :input_html => {:value => @applicant.english_teacher} %>
		<%= f.input :english_teacher_email, :label => "English Teacher Email", :input_html => {:value => @applicant.english_teacher_email} %>
		<%= f.submit "Send Teacher Invitations", :class => "btn btn-large" %>
	<% end %>
  </div>
</div>
