<%= provide(:title, @applicant.last_name) %>
<div class="row">
  <div class="span6 offset3">
	<% flash[:success] = "Message was successfully sent." %>
  </div>
  <div class="span6 offset3">
	<h2>Faculty Recommendations</h2>
	  <div class="span12">
		<span class="span-one-third"><%= link_to "Science Recommendation", 
				edit_teacher_recommendation_path(@applicant.teacher_recommendations.find_by_subject("science")) %></span>
		<span class="span-one-third offset-one-third"><%= link_to "Math Recommendation", 
				edit_teacher_recommendation_path(@applicant.teacher_recommendations.find_by_subject("math")) %></span>
		<span class="span-one-third offset-two-thirds"><%= link_to "English Recommendation", 
				edit_teacher_recommendation_path(@applicant.teacher_recommendations.find_by_subject("english")) %></span>
	  </div>
  </div>
  <div class="span6 offset3">
	<hr />
	<h2>Applicant Submitted Section</h2>
	<p><%= @applicant.first_name %> <%= @applicant.middle_name %> <%= @applicant.last_name %></p>
	<p>High School: <%= @applicant.school.name %> &nbsp; Grade Level: <%= @applicant.grade %></p>
	<p>Parent Name: <%= @applicant.parent_first_name %> <%= @applicant.parent_last_name %></p>
	<p>Home Address: <%= @applicant.address %></p>
	<p>Home Phone: <%= number_to_phone(@applicant.home_phone, :area_code => true) %> &nbsp; 
		Work Phone: <%= number_to_phone(@applicant.work_phone, :area_code => true) %></p>
	<p>Email: <%= @applicant.email %></p>
	<hr />
	<p>
		Names of Teachers Completing Recommendations:
		<ul>
			<li><%= @applicant.math_teacher %></li>
			<li><%= @applicant.science_teacher %></li>
			<li><%= @applicant.english_teacher %></li>
		</ul>
	</p>
	<hr />
  </div>
  <div class="span6 offset3">
	<h2>Guidance Submitted Section</h2>
	<p>High School: <%= @applicant.school.name %></p>
	<p>School Phone: <%= number_to_phone(@applicant.school_phone, :area_code => true) %></p>
	<p>Guidance Counselor <%= @applicant.counselor_name %></p>
	<p>Information Due To <%= @applicant.due_to %> &nbsp; Due Date: <%= @applicant.date_due %></p>
  </div>
</div>